 .container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* 100% of the viewport height */
 }

  .formContainer {
    text-align: center;
  }

  .form {
    width: 500px; /* Adjust the width as needed */
    
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    } */

    
.submitButton {
        width: 40%;
        height: 20px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
        
.submitButton:hover {
    background-color: #45a049;
 }